@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
 height: 100%;
 width: 100%;
 -webkit-tap-highlight-color: transparent;
}

:root {
 --theme: #00FFBE;
 --themeactive: #06CC9A;
 --main: #1A1A1A;
 --second: #515151;
 --third: #161616;
 --forth: #FFFFFF;
 --black: #000000;
 --font1: 'Poppins';
 --font2: 'Ubuntu';
}

:root {
  --pseudo-opacity: 0;
}

body {
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: var(--main);
 overflow: hidden;
 transition: background ease 0.5s;
}

#name {
  opacity: 0;
  visibility: none;
  font-family: var(--font1);
  text-align: center;
  margin-bottom: 6vh;
  color: var(--forth);
  font-size: 7vw;
  text-shadow: 0 0 10px transparent;
  transition: opacity ease 1s;
}

.container {
  margin-top: 2vh;
 visibility: none;
 opacity: 0;
 background: var(--third);
 border-radius: 1.5rem;
 padding: 2vh 2vw;
 width: 80%;
 color: var(--forth);
 position: relative;
 transition: opacity ease 0.5 0.1;
}

.container::before {
  opacity: var(--pseudo-opacity);
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 scale: 1.01;
 border-radius: 1.5rem;
 z-index: -1;
 background: linear-gradient(45deg, var(--theme), #00FFED);
  transition: opacity ease 0.5s;
}

.container::after {
  opacity: var(--pseudo-opacity);
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 scale: 1.01;
 border-radius: 1.5rem;
 z-index: -1;
 filter: blur(0.5rem);
 background: linear-gradient(45deg, var(--theme), #00FFED);
  transition: opacity ease 0.5s;
}

#questionNo {
 color: var(--forth);
 font-family: 'Poppins';
 font-size: 1.4rem;
 text-align: center;
 margin-bottom: -2vh;
}

#question {
 font-family: 'Poppins';
 font-size: 4cqw;
 transform: translateX(20px);
  padding: calc(1rem - 3px);
}

#options {
 font-family: 'Ubuntu';
 width: 100%;
}

.option {
 background: var(--main);
 background-repeat: no-repeat;
 border-radius: 0.7rem;
 border: 2px solid transparent;
 padding: 0.3rem;
 width: 90%;
 display: flex;
 align-items: center;
 margin: 1rem;
 transition: all ease 0.5s;
 overflow: scroll;
 font-size: 2rem;
}

.option:hover {
 border: 2px solid var(--theme);
}

.option:hover input[type="radio"] {
 opacity: 1;
}

input[type="radio"] {
 opacity: 0;
 transition: opacity ease 0.3s;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 3px solid var(--forth);
  border-radius: 10rem;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
}
input[type="radio"]::before {
  content: "";
  width: calc(1rem - 5px);
  height: calc(1rem - 5px);
  border-radius: inherit;
  transform: scale(0);
  transition: ease 0.5s;
  box-shadow: inset 4rem 4rem 0 0 var(--theme), 0 0 0px 0 var(--theme);
}

input[type="radio"]:checked::before{
  transform: scale(1);
  box-shadow: inset 4rem 4rem 0 0 var(--theme), 0 0 15px 0 var(--theme);
}
.radiooption {
 margin-left: 1rem;
 margin-right: 1rem;
}

#label1, #label2, #label3, #label4 {
  overflow-x: scroll;
  font-size: 1rem;
}

#controls {
  opacity: 0;
  visibility: none;
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: ease 0.5s
}

#pre,
#nxt, #submit {
  position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 outline: none;
 border-radius: 0.5rem;
 border: 3px solid var(--theme);
 box-shadow: 0 0 1.2rem 0 var(--theme), 0 0 5px 0 var(--theme) inset;
 background: transparent;
 color: var(--forth);
 padding: 0 1rem;
 font-size: 2rem;
 font-family: 'Poppins';
 transition: background ease 0.5s, color ease 0.5s, box-shadow ease 0.5s;
  overflow: hidden;
}

#pre:hover,
#nxt:hover, #submit:hover {
 background: var(--theme);
 color: #000;
 box-shadow: 0 0 10px 0 var(--theme);
}

#submit {
  opacity: 0;
  visibility: none;
}

.opacity1 {
  opacity: 1 !important;
  visibility: visible !important;
}