@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@500&display=swap');

html {
 height: 100dvh;
 width: 100dvw;
 -webkit-tap-highlight-color: transparent;
}

:root {
 --theme: #00FFBE;
 --themeactive: #06CC9A;
 --main: #1A1A1A;
 --second: #515151;
 --third: #6B6B6B;
 --forth: #FFFFFF;
 --black: #000000;
 --font1: 'Poppins';
 --font2: 'Ubuntu';
}

html {
 width: 100%;
 height: 100%;
}

body {
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: var(--main);
 position: relative;
 overflow: hidden;
 transition: background ease 0.5s;
}

#welcome-text {
 color: var(--forth);
 font-family: var(--font1);
 font-size: 5vw;
 opacity: 0;
 text-shadow: 0 0 0 transparent;
 transition: opacity ease 0.5s, text-shadow ease 0.5s, color ease 0.5s;
}

#textField {
 position: relative;
 opacity: 0;
 visibility: none;
 transition: opacity ease 0.5s;
 height: auto;
 width: 75%;
 padding: 2vh 4vw;
 background: var(--main);
 border-radius: 3rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 box-shadow: 5px 5px 90px 0px var(--dark);
 transition: color ease 0.5s, background ease 0.5s, opacity ease 0.5s;
 -webkit-tap-highlight-color: transparent;
}

#textField::before {
 content: "";
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 scale: 1.01;
 z-index: -1;
 opacity: inherit;
 position: absolute;
 border-radius: inherit;
 background: linear-gradient(45deg, var(--theme), #00FFED);
}

#textField::after {
 content: "";
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 scale: 1.01;
 z-index: -1;
 opacity: inherit;
 position: absolute;
 border-radius: inherit;
 background: linear-gradient(45deg, var(--theme), #00FFED);
 filter: blur(1rem);
}

#formOfInput {
 margin-top: 7%;
 height: 50%;
 display: inherit;
 flex-direction: inherit;
 align-items: center;
 width: 100%;
}

#eyn {
 color: var(--forth);
 font-family: var(--font1);
 font-size: 4cqw;
 text-align: center;
 transition: color ease 0.5s, background ease 0.5s;
}

#textInput {
 outline: none;
 background: transparent;
 color: var(--forth);
 border: none;
 border-bottom: 3px solid var(--third);
 font-family: var(--font2);
 font-size: 4cqw;
 padding: 1rem;
 transition: border-bottom ease 0.5s;
 text-align: center;
 width: 90%;
 height: 30%;
 margin-bottom: 5%;

}

#textInput:focus {
 border-bottom: 3px solid var(--forth);
}

#submitButton {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 2vh;
 color: #000;
 fill: #000 !important;
 stroke: #000 !important;
 background: var(--theme);
 border-radius: 3rem;
 font-family: var(--font1);
 transition: background ease 0.5s, color ease 0.5s, border-radius ease 0.5s, width ease 0.5s, fill ease 0.5s, stroke ease 0.5s;
 height: 30%;
 width: 30%;
 border: none;
 text-align: center;
 font-size: 3vw;
 padding: 1rem;
}

#submitButton:hover {
 cursor: pointer;
}

#mark {
 width: 4vw;
 height: 2vh;
 margin-left: 2px;
 padding: 0;
}

#submitButton:active {
 background: var(--themeactive);
 color: #fff;
 border-radius: 1.5rem;
 fill: #fff !important;
 stroke: #fff !important;
}