<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>Quiz App | Welcome</title>
 <link rel="stylesheet" href="/styles/welcome.css">
</head>

<body>
 
 <!-- Intro Elements -->
 <span id="welcome-text">Welcome to Quiz</span>
 <!-- End of Intro Elements -->
 <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.4/dist/kute.min.js"></script>
 <script src="https://kit.fontawesome.com/68966a7ec2.js" crossorigin="anonymous"></script>
 <script src="/js/welcome.js"></script>
</body>

</html>